# Dependency Directories
/node_modules

# Build/Dist/Artifact Directories
/dist
/build

# IDE and OS Files
.DS_Store
/.idea/

# Database Files
prompts.db

# Environment variables
.env

# Logs and local artifacts
npm-debug.log*
yarn-debug.log*

.gemini

*.md
!README.md