# Dependency Directories
**/node_modules

# Build/Dist/Artifact Directories
**/dist
/build

# IDE and OS Files
.DS_Store
/.idea/

# Database Files
prompts.db

# Environment variables
packages/server/.env

# Logs and local artifacts
npm-debug.log*
yarn-debug.log*
.ignore
.genkit



GEMINI.md
TECHNICAL_DOCS.md
TECHNICAL_DOCUMENTATION.md