# Dependencies
/node_modules

# Build output
/dist

# Database
prompts.db

# IDE files
.idea

# OS files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Excel temp file
~$*.xlsx